a {
	font-size: 30px;
	font-weight: bold;
	color: dodgerblue;
}
.mfu-file-list {
	list-style: none;
	width: 500px;
}
.mfu-file-list .file-field,
.mfu-file-list .remove-row-link,
.mfu-file-list input[type="file"] {
	display: inline-block;
}

.mfu-file-list .remove-row-link {
	position: relative;
	top: 3px;
	cursor: pointer;
}

.mfu-file-list abbr[title="required"] {
	color: #ff0000;
}

/*MARCO CSS  START*/

.animatedBackground{
background: linear-gradient(270deg, #36de00, #89ff0f, #087a00);
background-size: 600% 600%;

-webkit-animation: AnimationName 14s ease infinite;
-moz-animation: AnimationName 14s ease infinite;
animation: AnimationName 14s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

html{
	background-color: #323232;
}

#mainDashboardContainer{
	display: flex;
	color: white;
}

#leftSidebar{
	flex:1;
	color: #323232;
	text-align: center;
	padding: 20px;
	font-family: sans-serif;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,b8f23c+50,90dd23+51,94d300+100;Green+Gloss+%231 */
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(157,213,58,1) 0%, rgba(184,242,60,1) 50%, rgba(144,221,35,1) 51%, rgba(148,211,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(184,242,60,1) 50%,rgba(144,221,35,1) 51%,rgba(148,211,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(157,213,58,1) 0%,rgba(184,242,60,1) 50%,rgba(144,221,35,1) 51%,rgba(148,211,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#94d300',GradientType=0 ); /* IE6-9 */

}

.image-container {
	position: relative;
}
.image-container img{
	border-radius: 100%;
	width: 250px;
	display: block;
	border:#ebffaa 4px solid;
	transition: .5s ease;
	backface-visibility: hidden;
}

.image-container:hover img{
	opacity: 0.5;
}

.image-container #change-photo {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -60%);
	-ms-transform: translate(-50%, -60%)
}

.image-container:hover #change-photo {
	opacity: 1;
}

#image-file-input {
	display: none;
}

#mainProjectsContainer{
	flex:3;
	padding: 20px;
	color: white;
	overflow: scroll;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
background: rgb(96,108,136); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */

}

#mainProjectsContainer table thead th{
	color: #8ef140;
	font-weight: bold;
}


#mainProjectsContainer table tbody tr:hover{
	background-color: rgba(0,0,0,.4);
}

#mainProjectsContainer table button{
	color: #323232;
	border:none;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100;Green+Gloss+%231 */
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */

}

#mainProjectsContainer table button:hover{
	color: #323232;
	border:none;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,b8f23c+50,90dd23+51,94d300+100 */
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(157,213,58,1) 0%, rgba(184,242,60,1) 50%, rgba(144,221,35,1) 51%, rgba(148,211,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(184,242,60,1) 50%,rgba(144,221,35,1) 51%,rgba(148,211,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(157,213,58,1) 0%,rgba(184,242,60,1) 50%,rgba(144,221,35,1) 51%,rgba(148,211,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#94d300',GradientType=0 ); /* IE6-9 */
box-shadow: 0px 0px 13px limegreen;
}

#addProjectModal{
	width: 700px;
	height: 500px;
	margin:auto;
	overflow: scroll;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
background: rgb(96,108,136); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */

}

#addProjectModal input{
	color: #323232;
	margin: 5px;
	width: 100%;
	border:limegreen 2px solid;
}

#addProjectModal button{
		background-color: rgba(0,0,0,.2);
	border:2px grey solid;
}

#addProjectModal button:hover{
	border: 2px solid #8ef140;
	background-color: rgba(0,0,0,.4);
}


#addProjectBox{
	color: grey;
	border-top: 4px solid #8ef140;
	text-align: center;
	margin: 0;
	background-color: #323232;
}

#addProjectBox button{
	background-color: rgba(0,0,0,.2);
	border:2px grey solid;
}

#addProjectBox button:hover{
	border: 2px solid #8ef140;
	background-color: rgba(0,0,0,.4);
}

#makePortfolioBox{
	color: grey;
	text-align: center;
	margin: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

/*button*/
#makeProject{
color: #323232;
border:none;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100;Green+Gloss+%231 */
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */

}

#makeProject:hover{
	color: white;
	text-shadow: 1px 1px 1px black;
	border:none;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,b8f23c+50,90dd23+51,94d300+100 */
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(157,213,58,1) 0%, rgba(184,242,60,1) 50%, rgba(144,221,35,1) 51%, rgba(148,211,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(184,242,60,1) 50%,rgba(144,221,35,1) 51%,rgba(148,211,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(157,213,58,1) 0%,rgba(184,242,60,1) 50%,rgba(144,221,35,1) 51%,rgba(148,211,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#94d300',GradientType=0 ); /* IE6-9 */
box-shadow: 0px 0px 13px limegreen;
}

/*PUBLIC VERSION  -----------------------------*/

#mainDashboardContainer_PUBLIC{
	display: flex;
	color: white;
}

#leftSidebar_PUBLIC{
	flex:1;
	color: #dadada;
	text-align: center;
	padding: 20px;
	font-family: sans-serif;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	border-right: 4px #323232 solid;
	padding-bottom: 40vh;
}

#leftSidebar_PUBLIC a{
	font-size: 1em;
	color: grey;
	background-color: rgba(0,0,0,.5);
	border:2px #8ef140 solid;
	text-decoration: none;
	padding: 8px;
	border-radius: 10px;
}

#leftSidebar_PUBLIC a:hover{
	color: white;
	background-color: rgba(0,0,0,.7);
	border:2px #8ef140 solid;
	text-decoration: none;
	padding: 8px;
	border-radius: 10px;
	box-shadow: 0px 0px 7px #8ef140;
}

#leftSidebar_PUBLIC img{
	border-radius: 100%;
	width: 250px;
	border:#8ef140 4px solid;

}

#mainProjectsContainer_PUBLIC{
	flex:3;
	color: white;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	
	display: flex;
	flex-direction: column;
}

#buttonBox_PUBLIC{
	background: linear-gradient(270deg, #36de00, #89ff0f, #087a00);
	background-size: 300% 300%;
	-webkit-animation: AnimationName 14s ease infinite;
	-moz-animation: AnimationName 14s ease infinite;
	animation: AnimationName 14s ease infinite;
}

#imageBox{
	text-align: center;
	width: 100%;
	padding:40px;
	background-image: url('https://diasp.org/camo/39765a8710b39978abe757fb42785537a348ff2b/68747470733a2f2f36382e6d656469612e74756d626c722e636f6d2f66393932343061616565363061336662613530393030353833366533643735622f74756d626c725f6f677374316e77374a66317332743363746f315f3530302e676966');
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	border: 4px #323232 solid;
}

.nav-tabs li{
	color: white;
	background-color: transparent;
	color: white;
}

.nav-tabs li a{
	margin: 0;
	color: white;
	background-color: rgba(0,0,0,.2);
}

.nav-tabs li a:hover{
	margin: 0;
	border: none;
	color: white;
	background-color: rgba(0,0,0,.5);
}

.repoLink{
	color: grey;
}

.repoLink:hover{
	color: #8ef140;
}

.tab-pane{
	padding: 20px;
}

#projectListButton_PUBLIC{
	background-color: rgba(0,0,0,.2);
	border:2px grey solid;
}

#projectListButton_PUBLIC:hover{
	border: 2px solid #8ef140;
	background-color: rgba(0,0,0,.4);
}

#chartButton_PUBLIC{
	background-color: rgba(0,0,0,.2);
	border:2px grey solid;
}

#chartButton_PUBLIC:hover{
	border: 2px solid orange;
	background-color: rgba(0,0,0,.4);
}

#mainProjectsContainer_PUBLIC table thead th{
	color: #8ef140;
	font-weight: bold;
}


#mainProjectsContainer_PUBLIC table tbody tr:hover{
	background-color: rgba(0,0,0,.2);
}

/* ----------------------------------------------
 * Generated by Animista on 2017-5-7 12:27:41
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes bounce-in-fwd{0%{-webkit-transform:scale(0);transform:scale(0);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:scale(.7);transform:scale(.7);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:scale(.84);transform:scale(.84);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}89%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:scale(.95);transform:scale(.95);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes bounce-in-fwd{0%{-webkit-transform:scale(0);transform:scale(0);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:scale(.7);transform:scale(.7);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:scale(.84);transform:scale(.84);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}89%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:scale(.95);transform:scale(.95);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

.bounce-in-fwd {
	-webkit-animation: bounce-in-fwd 1.1s both;
	-moz-animation: bounce-in-fwd 1.1s both;
	animation: bounce-in-fwd 1.1s both;
}


/*MARCO CSS END*/

/*Stephen CSS start*/
.userImg {
border-radius: 50%;
height: 150px;
width 150px;
} 
.userName {
	text-transform: capitalize;
}
.userRole {
	text-transform: capitalize;
}

/*--------Davey--------*/

#jumbotronHompage{
	/*background-color: white;*/
	font-family: Lobster;
	/*background: url('../../public/img/tools.jpg') no-repeat center center;*/
}

#searchHompage{
	width: 25em;  height: 4em;
}

#submitHompage{
	margin-left: 10px;
	width: 10em;  height: 4em;
}

#GitHubHomePage{
	padding-top: 20px;

}
/* Carousel Styling */
.slide1{
  background-image: url('../../public/img/codingbrain.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color:red;
}
.slide2{
  background-image: url('../../public/img/coding.jpeg');
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: url('../../public/img/tools.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.carousel-caption h1{
  font-size: 5.4em;
  font-family: 'Lobster', cursive;
  padding-bottom: .4em;
  color:#FFFAF0;
}
.carousel-caption p{
  font-size: 2em;
  color:#FFFAF0;
}

#navGit{
	font-family: Lobster;
	font-size: 50px;
	color:#8ef140;

}
#login-overlay{
	font-family: Lobster;
	font-size: 35px;
	padding-bottom: 35px;
}

.error-template {
padding: 40px 15px;text-align: center;}

.error-actions {
margin-top:15px;margin-bottom:15px;
}
.error-actions .btn { 
margin-right:10px; 
}

#errorPage{
	color: white;
}
#loginSubmitButton{
	font-size: 25px;
}
/*David Naimi*/

/*hyungwu pae*/
#upload-complete-alert {
	position: fixed;
	top: 20px;
	right: 20px;
	display: none;
}

#loading-wrapper {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 10000px;
	background-color: rgba(0, 0, 0, 0.8)
}
#loading-wrapper img {
	position: fixed;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -30%);
}