<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a style="color: #8ef140;" id="navGit" class="navbar-brand" href="/">GitME</a>
    </div>
    <form class="navbar-form navbar-right" action="/search?_method=GET" role="search">
      <div class="form-group">
        <input id="search-input" name="qs" type="text" class="form-control" placeholder="Search">
      </div>
      <!--<button type="submit" class="btn btn-success">Submit</button>-->
    </form>
    {{#if userInfo}}
      <a href="/mypage"><img class=" navbar-right"  alt="Brand" src="{{userInfo.photo}}" id="loginPhoto"></a>
      <p class="navbar-text navbar-right">Signed in as <b>{{userInfo.name}}</b>  </p>

      <form class="navbar-form navbar-right" role="search">
        <a href="/auth/logout" class="btn btn-danger">Log Out</a>
      </form>
    {{/if}}
  </div>
</nav>