<div id="leftSidebar_PUBLIC">
  <img src="{{developer.photo}}" class="bounce-in-fwd" alt="developer photo">
  <br>
  <hr>
  <h3>{{developer.name}}</h3>
  <h4>@{{developer.githubUsername}}</h4>
  <br>
  <a href="{{developer.email}}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> CONTACT ME</a>
</div>