<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.8.0/d3.min.js"></script>
<h1>Hello!! I am a chart view</h1>

<div id="chart"></div>

<script>
 const projects = {{{projects}}};
</script>
<script src="/public/js/chart.js"></script>


<style>
    .legend,
    .percent {
        font-size: 12px;
    }

    rect {
        stroke-width: 2;
    }

    #chart {
        height: 360px;
        position: relative;
        width: 360px;
    }

    .tooltip-d3 {
        background: #eee;
        box-shadow: 0 0 5px #999999;
        color: #333;
        display: none;
        font-size: 12px;
        left: 130px;
        padding: 10px;
        position: absolute;
        text-align: center;
        top: 95px;
        width: 80px;
        z-index: 10;
    }
</style>