<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.8.0/d3.min.js"></script>
<script src="/public/js/d3.min.js"></script>
{{!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-hierarchy/1.1.4/d3-hierarchy.min.js"></script>--}}
<h1>Hello!! I am a chart view</h1>

    <div class="row">
        <div class="col-md-6">
            <h1 style="color: #eee" class="text-center">Language</h1>
            <section class="center-block" id="chart"></section>
        </div>
        <div class="con-md-6">
            <h1 style="color: #eee" class="text-center">Skills</h1>
            <section class="center-block" id="graph"></section>
        </div>
    </div>


<script>
 const projects = {{{projects}}};
 const skills= {{{skills}}};
</script>
<script src="/public/js/chart.js"></script>


<style>
    .legend,
    .percent {
        font-size: 12px;
    }

    rect {
        stroke-width: 2;
    }

    #chart {
        height: 450px;
        position: relative;
        width: 450px;
    }

    .tooltip-d3 {
        background: #eee;
        box-shadow: 0 0 5px #999999;
        color: #333;
        display: none;
        font-size: 12px;
        left: 130px;
        padding: 10px;
        position: absolute;
        text-align: center;
        top: 95px;
        width: 80px;
        z-index: 10;
    }
</style>