 <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">



<div id="jumbotronHompage" class="jumbotron">
        <div class="container text-center">
        <i class="fa fa-github fa-5x " aria-hidden="true"></i> 
            <h1>GIT ME</h1>
            <div class="row">
             
</div>


		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="author-container">
					<h1>Developer</h1>
					<form id="author-form">
							<input id="searchHompage" placeholder="Enter a name" id="author-name" type="text" name="name"/>
              
              <input class="btn btn-primary " id="submitHompage" type="submit" name="submit">
									
					</form>	 

    <button id="GitHubHomePage" class="btn btn-primary btn-lg" id="addButton"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Log In With GitHub </button	

								
							






