{{!--<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>--}}


{{#switch statusCode}}
  {{#case 404}}
    Not found...
  {{/case}}
  {{#case 401}}
    unauthorized access;;
  {{/case}}
{{/switch}}