<form style="position: absolute;left: 50%;top: 20%;transform: translate(-50%, -20%);" class="form-inline" action="/api/user/fake-user?_method=GET">
  <div class="form-group">
    <label for="fakeuser">Email</label>
    <input type="text" class="form-control" name="fakeuser" id="fakeuser" placeholder="Enter Github username">
  </div>
  <button type="submit" class="btn btn-default">Add!</button>
</form>