<!-- body for layout -->
<section id="mainDashboardContainer_PUBLIC">

  <!-- left side bar containing main info -->
  {{> public_portfolio_left}}

  <!-- right container with all the projects -->
  {{> public_portfolio_main}}

</section>

<script src="/public/js/myPublicPage.js"></script>
