<div class="container">

<section id="publicSearch">

<table class="table">
    <thead>
        <tr>
            <th>Profile</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Github Username</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            <!-- add photo inline with profile? -->
            <a href="/">aBarret82</a>
            </th>
            <td>Abby Barrett</td>
            <td>abby.barrett@fake.com</td>
            <td>Front End</td>
            <td><a href="/">@abbeme</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Danny</td>
            <td>Collins</td>
            <td>@dennis</td>
            <td>
                <a class="blue-text"><i class="fa fa-user"></i></a>
                <a class="teal-text"><i class="fa fa-pencil"></i></a>
                <a class="red-text"><i class="fa fa-times"></i></a>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Clara</td>
            <td>Ericson</td>
            <td>@claris</td>
            <td>
               <a class="blue-text"><i class="fa fa-user"></i></a>
                <a class="teal-text"><i class="fa fa-pencil"></i></a>
                <a class="red-text"><i class="fa fa-times"></i></a>
            </td>
        </tr>

    </tbody>
</table>

</section>

</div>